<div style='margin: 50px'>
    <img class='profile' src="../../../assets/profilePic.jpeg" alt="profile picture">
</div>



<div style='margin: 100px'>
    <button [routerLink]="['/challenge']" mat-raised-button color="primary" matTooltip="Info about the action" matTooltipPosition="below">
        Challenges
    </button>
</div>

<div style='margin: 100px'>
    <button [routerLink]="['/about']" mat-raised-button color="primary" matTooltip="Info about the action" matTooltipPosition="below">
        About me
    </button>
</div>