<div fxLayout="column" fxLayoutAlign="center center">
    <img class='profile' src="../../../assets/profilePic.jpeg" alt="profile picture">

    <mat-card class="home_card">
        <mat-card-header>
            <mat-card-title>Jose Martinez de Ubago Alvarez de Sotomayor</mat-card-title>
            <mat-card-subtitle>Wannabe Full Stack Developer</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>
                Hello there!
            </p>
            <p>
                Here are some coding challenges I had to do for different job interviews. You can check them out and also take a peak at my github for my coding skills.
            </p>
            <p>
                Do not hesitate to contact me!
            </p>
        </mat-card-content>
    </mat-card>
    <div class="home_buttons" fxLayout="row" fxLayoutGap="20px">
        <button [routerLink]="['/challenge']" mat-raised-button color="primary" matTooltip="Info about the action" matTooltipPosition="below">
        Challenges
        </button>
        <button [routerLink]="['/about']" mat-raised-button color="primary" matTooltip="Info about the action" matTooltipPosition="below">
        About me
        </button>
    </div>
</div>