<mat-toolbar class="mat-primary">
    <mat-toolbar-row>
        <span class="title dialog-title">{{data.title}}</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card-content class='m-0 p-16'>
    <p>
        {{data.description}}
    </p>
</mat-card-content>
<div mat-dialog-content class="report">
    <mat-form-field>
        <input matInput placeholder="Report title">
        <!-- <mat-error *ngIf="title.hasError('required')">Write a title</mat-error> -->
    </mat-form-field>
</div>
<div mat-dialog-actions class="m-0 p-16">
    <!-- <button mat-button mat-dialog-close color="accent" [mat-dialog-close]="data" cdkFocusInitial>Save</button> -->
    <button mat-raised-button mat-dialog-close color="warn" (click)="onCloseClick()">Close</button>
</div>